<div class="flexslider">
  <ul class="slides">
    <% for trip_photo in trip_photos %>
      <li><center><img src="<%=trip_photo.photo.url_url(:thumb)%>"></center><br/></li>
    <% end %>
  </ul>
</div>