<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="http://lorempixel.com/400/300/cats/" />
    </li>
    <li>
      <img src="http://lorempixel.com/400/300/cats/" />
    </li>
    <li>
      <img src="http://lorempixel.com/400/300/cats/" />
    </li>
    <li>
      <img src="http://lorempixel.com/400/300/cats/" />
    </li>
  </ul>
</div>