<div class="flexslider">
  <ul class="slides">
    <li><center><img src="holder.js/400x400"></center><br/></li>
    <li><center><img src="holder.js/400x400"></center><br/></li>
    <li><center><img src="holder.js/400x400"></center><br/></li>
    <li><center><img src="holder.js/400x400"></center><br/></li>
  </ul>
</div>