<table class="table table-condensed table-hover">
  <% next_trip.each do |category, schedules| %>
    <%-# category -%>
    <%=render partial:"welcome/next_trip/category", object:category%>
    <%=render partial:"welcome/next_trip/trips", object:schedules%>
  <% end %>
</table>   