<table class="table table-condensed table-hover">
  <tr class="info">
    <th colspan="2">Однодневные поездки</td>
  </tr>
  <tr>
    <td>Святыни Причудья <span class="label label-default">1 фев</span> <span class="label label-default">8 фев</span></td>
  </tr>
  <tr>
    <td>Старая Ладога. Зеленецкий монастырь. <span class="label label-default">2 фев</span></td>
  </tr>
  <tr>
    <td>Старая Русса <span class="label label-default">3 фев</span> <span class="label label-default">9 фев</span></td>
  </tr>
  <tr class="info">
    <th colspan="2">Многодневные поездки</td>
  </tr>
  <tr>
    <td>Специальная программа к празднику Успения Богородицы! <span class="label label-default">10 фев</span></td>
  </tr>
  <tr>
    <td>Великое княжество Финляндское <span class="label label-default">1 марта</span></td>
  </tr>
  <tr>
    <td>Валдай. Иверский Богоро дицкий Святоозерский м-рь "Живоносный источник" <span class="label label-default">11 декабря</span></td>
  </tr>
  <tr class="info">
    <th colspan="2">Поездки за границу</td>
  </tr>
  <tr>
    <td>1700 летие Миланского эдикта Божественная литургия в Тронном зале императора Константина <span class="label label-default">1 янв - 1 дек</span></td>
  </tr>
  <tr>
    <td>Южная Франция и Лигурийское побережье. Французские Альпы. <span class="label label-default">12 марта</span></td>
  </tr>
  <tr>
    <td>Тбилиси, Вардзия, Кахети, Картли, Гори, Мцхета. <span class="label label-default">10 фев</span></td>
  </tr>
</table>   