<p>Ближайшие поездки:
  <% next_trip.each do |schedule| %>
    <%= render partial: "trip/schedule_badge", locals: {schedule:schedule, highlight:schedule.begin_date == @date.to_date} %>
    &nbsp;
  <% end %>
</p>