<% style = 'default' if local_assigns[:style].nil? %>
<% style = 'success' if local_assigns[:highlight] == true %>

<%= link_to schedule_path(schedule.trip.permalink, schedule.begin_date), :class=>"schedule_label" do %>
  <span class="label label-<%=style%>">
    <span class="glyphicon glyphicon-calendar"></span>
    <%=l schedule.begin_date, :format => :short%>
  </span>
<% end %>