<% style = 'default' if local_assigns[:style].nil? %>
<% style = 'success' if local_assigns[:highlight] == true %>

<span class="label label-<%=style%>">
   <span class="glyphicon glyphicon-calendar"></span>
   <%=date.strftime("%d %b")%>
</span>