<div class="container">
  <div class="jumbotron">

    <div class="row">
      <div class="col-md-6">
        <%= render partial: "adv_slider" %>
      </div>
        
      <div class="col-md-6">   
        <h1><%=@trip.name%></h1>
        <p><%=@trip.description%></p>
        <%= render partial: "next_trip", object: @next_trip %>

        <center>
          <p>
            <a class="btn btn-success" href="../../components/#navbar" role="button">Забронировать &raquo;</a>
          </p>
        </center>
      </div>

    </div>
  </div>
</div> 

<script>
  // Can also be used with $(document).ready()
  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>