// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  min-height: 2000px;
  padding-top: 70px;
}

.container .jumbotron {
  padding: 32px;
  //padding-top: 0px;
  //padding-bottom: 0px;
}

.container .jumbotron h1 {
  margin-bottom: 30px;
  margin-top: 0px;
}

a.schedule_label:hover {
  text-decoration:none;
}

.list-group-item-considered {
  padding: 5px 8px;
}